<footer>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a [routerLink]="['/']"
          ><img src="../../assets/images/logo.png" alt="iCare"
        /></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul class="">
          <li>
            <a [routerLink]="['/about']" routerLinkActive="active">About</a>
          </li>
          <!-- <li>
            <a [routerLink]="['/contact-us']" routerLinkActive="active"
              >Contact Us</a
            >
          </li> -->
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <h5>+2348127750893</h5>
      </div>
      <div class="col-xs-6 col-sm-12 col-md-3 footer__sm">
        <a href="mailto:info@icare.ng">info@icare.ng</a>
      </div>
    </div>
  </section>
</footer>
