<section class="section banner">
  <div class="row banner-image">
    <div class="col-12 col-sm-7">
      <h3>About iCare</h3>
    </div>
  </div>
</section>

<section class="section home home__triangle1">
  <div class="row home__triangle2 home--md section__inner">
    <h5>
      You save time and money, focus on the people you support and from a
      properly accredited training provider. What could be better?
    </h5>
  </div>
  <div class="row section__inner">
    <h5>
      There are 15 standards within the Care Certificate, which cover a wide
      range of subjects and topics. We recommend that a new full time employee
      should complete the Care Certificate within 12 weeks of starting their new
      role. Skills for Care suggest that experience from pilot sites
      demonstrates this is feasible for new full time staff.  iCare.ng issues
      the actual Care Certificate itself based upon being able to prove that the
      requirements of the Care Certificate have been properly achieved.
    </h5>
  </div>
  <div class="home__text--center">
    <a
      class="btn btn__primary w-100"
      href="http://tosconconsultancyservices.business.site"
      target="_blank"
      >Other Toscon Services</a
    >
  </div>
  <div class="row section__inner">
    <h5>
      The Care Certificate can also be done online and we have Internationally
      Qualified Assessors/Tutors who provide in-class tutorials which can also
      be done at your pace. The Care Certificate is compulsory for all Health
      and Social Care professionals.
    </h5>
  </div>
</section>

<section class="section home">
  <div class="row home__triangle2 home--lg">
    <h4>Sign Up to receive updates</h4>
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation
    </h5>
  </div>
  <form>
    <div class="row home__row">
      <div class="col-xs-2 banner__email">Email</div>
      <div class="col-xs-10 col-sm-6 banner__input">
        <input type="email" />
      </div>
      <div class="col-xs-12 col-sm-4 banner__btn">
        <button class="btn btn__primary w-100">Submit</button>
      </div>
    </div>
  </form>
</section>

<section class="section home home__hr">
  <hr />
</section>
