<section class="section banner">
  <div class="row banner-image">
    <div class="col-12 col-sm-7">
      <h3>About iCare</h3>
    </div>
  </div>
</section>

<section class="section home home__triangle1">
  <div class="row home__triangle2 home--md section__inner">
    <h5>
      You save time and money, focus on the people you support and from a
      properly accredited training provider. What could be better?
    </h5>
  </div>
  <div class="row section__inner">
    <h5>
      There are 15 standards within the Care Certificate, which cover a wide
      range of subjects and topics. We recommend that a new full time employee
      should complete the Care Certificate within 12 weeks of starting their new
      role. Skills for Care suggest that experience from pilot sites
      demonstrates this is feasible for new full time staff.  iCare.ng issues
      the actual Care Certificate itself based upon being able to prove that the
      requirements of the Care Certificate have been properly achieved.
    </h5>
  </div>
  <div class="home__text--center">
    <a
      class="btn btn__primary w-100"
      href="http://tosconconsultancyservices.business.site"
      target="_blank"
      >Other Toscon Services</a
    >
  </div>
  <div class="row section__inner">
    <h5>
      The Care Certificate can also be done online and we have Internationally
      Qualified Assessors/Tutors who provide in-class tutorials which can also
      be done at your pace. The Care Certificate is compulsory for all Health
      and Social Care professionals.
    </h5>
  </div>
  <div class="row section__inner">
    <h5>
      We provide Home Health/Social Care Professionals for older adults with
      Dementia or those who are Chronically or Terminally ill; Trust us, we have
      City & Guilds Certified Assessor/Tutor and Dementia Care Consultants, who
      are passionate about care.
    </h5>
    <h5>
      <strong>Our Mission</strong>: To provide affordable health and social care
      services in the homes of individuals who cannot perform daily activities
      due to ill-health or old age. To provide employment for those who have
      passion to care, to transform them to Care Ambassadors through proper
      training and mentoring.
    </h5>
    <h5>
      <strong>Our Vision</strong>: To become the benchmark in the provision of
      health and social care service in Nigeria with a passion to help,
      rejuvenate and maintain healthy living for every individual. To provide
      employment and career opportunities
    </h5>

    <h5>
      <strong>Our Values: P.E.A.C.E</strong>
    </h5>
    <h5>
      1. <strong>P</strong>assion: We are passionate about care<br />
      2. <strong>E</strong>xpertise: We are experts in the field of caregiving
      in Nigeria<br />
      3. <strong>A</strong>ccountability: We take full responsibility for the
      welfare of any individual in our care<br />
      4. <strong>C</strong>urrent: We are innovative and we keep abreast of
      current events, methods and standards in Caregiving<br />
      5. <strong>E</strong>mpathy: We have the ability to understand and share
      the feelings of other people.
    </h5>
    <h5>
      We offer:
      <br />
      1. Personalized Home Health/Social Care Services - Assessment and
      Provision of care for older adults and persons with Dementia<br />
      2. Recruitment for Healthcare sector<br />
      3. E-learning and In-Class Trainings for those who wish to start or
      further their career in Home Healthcare.
    </h5>
    <h5>
      We have over 66 online courses in healthcare and these courses come with
      International Certification. Are you afraid of any deadly disease? We are
      authorized dealers in Plant Stem Cell Supplements that will give Total
      Healing to any kind of ailment.
    </h5>
    <h5>
      We sell Good Health. Therefore your loved ones are SAFE with TOSCON.
    </h5>
  </div>
</section>

<section class="section home home__hr">
  <hr />
</section>
