<section class="section banner">
  <div class="row banner-image">
    <div class="col-12 col-sm-7">
      <h3>Reach out</h3>
      <h5>We cant wait to hear from you!</h5>
      <br />
      <h4>icareng</h4>
      <h5>
        No 18 Asani street, Illaje, Yaba, Lagos, Nigeria<br />
        +2348127750893<br />
        hello@icare.ng
      </h5>
      <div>
        <a href="https://facebook.com"
          ><img src="../../assets/images/facebook.svg" alt="Facebook"
        /></a>
        <a href="https://twitter.com" class="margin"
          ><img src="../../assets/images/twitter.svg" alt="Twitter"
        /></a>
        <a href="https://instagram.com"
          ><img src="../../assets/images/insta.svg" alt="Instagram"
        /></a>
      </div>
    </div>
  </div>
</section>

<section class="section home home__triangle1">
  <div class="row home__triangle2 section__inner">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <label>Name</label>
          <input type="text" placeholder="Name" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <label>Email</label>
          <input type="text" placeholder="Email Address" />
        </div>
        <div class="col-xs-12 textarea">
          <label>Message</label>
          <textarea placeholder="Message"></textarea>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="section home">
  <div class="row home__triangle2 home--lg">
    <h4>Sign Up to receive updates</h4>
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation
    </h5>
  </div>
  <form>
    <div class="row home__row">
      <div class="col-xs-2 banner__email">Email</div>
      <div class="col-xs-10 col-sm-6 banner__input">
        <input type="email" />
      </div>
      <div class="col-xs-12 col-sm-4 banner__btn">
        <button class="btn btn__primary w-100">Submit</button>
      </div>
    </div>
  </form>
</section>

<section class="section home home__hr">
  <hr />
</section>
