.btn {
  padding: 1rem 3rem;
  &__primary {
    background: $primary;
    border: 1px solid $primary;
    color: white;
    transition: all 200ms;
    &:hover {
      background: white;
      color: $primary;
    }
  }
  &__accent {
    background: white;
    border: 1px solid $primary;
    color: $primary;
    transition: all 200ms;
    &:hover {
      background: $primary;
    }
  }
}
