<section class="section home home--margin">
  <div class="row home__triangle2 home--lg">
    <h4>Sign Up to receive updates</h4>
    <h5>
      Enter your email address and be added to our subscription list.
    </h5>
  </div>
  <form
    id="contactForm2"
    method="POST"
    action="https://formspree.io/info@icare.ng"
  >
    <div class="row home--lg">
      <div class="col-xs-2 banner__email">Email</div>
      <div class="col-xs-10 col-sm-6 banner__input">
        <input type="email" name="Email" />
        <input type="hidden" name="_next" value="https://icare.ng" />
        <input
          type="hidden"
          name="_subject"
          value="Email Subscriptions(Lower Section)"
        />
      </div>
      <div class="col-xs-12 col-sm-4 banner__btn">
        <button type="submit" class="btn btn__primary w-100">Submit</button>
      </div>
    </div>
  </form>
</section>
