.home {
  &--lg {
    max-width: 65rem;
    margin: 24px auto;
    text-align: center;
  }
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  &--margin {
    margin-bottom: 100px;
  }
}
.banner {
  &__email {
    padding: 10px;
    background-color: white;
    border: none;
    border-left: 2px solid #2196f3;
    text-align: center;
  }
  &__input {
    input {
      @extend .banner__email;
      text-align: left !important;
      border-color: rgba($color: #ccc, $alpha: 0.5);
      border-radius: 0;
      width: 100%;
    }
    padding: 0;
  }
  &__btn {
    padding: 0;
    button {
      width: 100%;
      padding: 8.5px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}
