@import "../../styles/variables";

.banner {
  min-height: 500px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  &-image {
    &::before {
      content: "";
      background-image: url(../../assets/images/triangle-big.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      top: 1%;
      position: absolute;
      right: 0;
      z-index: -1;
      height: 800px;
      background-position-x: 100%;
    }
    &::after {
      content: "";
      background-image: url(../../assets/images/banner-image.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      top: 3%;
      position: absolute;
      right: 0;
      z-index: -1;
      height: 800px;
      background-position-x: 100%;
    }
  }

  &__row {
    max-width: 50rem;
    margin: 0;
    margin-top: 2rem;
  }

  &__email {
    padding: 10px;
    background-color: $white;
    border: none;
    border-left: 2px solid $primary;
    text-align: center;
  }
  &__input {
    input {
      @extend .banner__email;
      text-align: left !important;
      border-color: rgba($color: #ccc, $alpha: 0.5);
      border-radius: 0;
      width: 100%;
    }
    padding: 0;
  }
  &__btn {
    padding: 0;
    button {
      width: 100%;
      padding: 8.5px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}

h5 {
  line-height: 2.5rem;
}

.home {
  &__row {
    @extend .banner__row;
    margin: 0 auto;
    max-width: 50rem;
  }
  &--md {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    h5 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &--sm {
    max-width: 35rem;
    min-height: 300px;
  }
  &--lg {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
  }
  &--flex {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      .home--sm {
        margin: 0 auto;
      }
    }
  }
  &__study {
    position: relative;
    &::before {
      content: "";
      background-image: url(../../assets/images/triangle-purple.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 40px;
      top: 80%;
      position: absolute;
      left: 30%;
      z-index: -1;
      height: 40px;
      background-position-x: 100%;
    }
    &::after {
      content: "";
      background-image: url(../../assets/images/study-triangles.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 500px;
      top: -15%;
      position: absolute;
      right: -5%;
      z-index: -1;
      height: 500px;
      background-position-x: 100%;
    }
  }
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__image {
    width: 28px;
  }
  &__text {
    &--left {
      padding-bottom: 2rem;
      text-align: center;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    &--right {
      padding-bottom: 2rem;
      text-align: right;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
  &__picture {
    max-width: 40rem;
    @media screen and (max-width: 768px) {
      max-width: 30rem;
    }
  }
  &__triangle1 {
    &::before {
      content: "";
      background-image: url(../../assets/images/triangle1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 50px;
      top: 650px;
      position: absolute;
      left: 10%;
      z-index: -1;
      height: 60px;
      background-position-x: 100%;
    }
  }
  &__triangle2 {
    &::before {
      content: "";
      background-image: url(../../assets/images/triangle2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100px;
      top: 700px;
      position: absolute;
      right: 10%;
      z-index: -1;
      height: 100px;
      background-position-x: 100%;
    }
  }
  &--margin {
    margin-bottom: 100px;
  }
}

.rings {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
}

.flex {
  &__order {
    @media screen and (min-width: 768px) {
      &-1 {
        order: 2;
      }
      &-2 {
        order: 1;
      }
    }
  }
}
