<section class="section banner">
  <div class="row banner-image">
    <div class="col-12 col-sm-7">
      <h3>Learn to live better</h3>
      <h5>
        Our e-learning courses are suitable for individuals who are willing to
        improve their knowledge in health and social care or they wish to change
        their career.
      </h5>
      <form
        id="contactForm"
        method="POST"
        action="https://formspree.io/info@icare.ng"
      >
        <div class="row banner__row">
          <div class="col-xs-2 banner__email">Email</div>
          <div class="col-xs-10 col-sm-6 banner__input">
            <input type="email" name="Email" />
            <input type="hidden" name="_next" value="https://icare.ng" />
            <input type="hidden" name="_subject" value="Email Subscriptions" />
          </div>
          <div class="col-xs-12 col-sm-4 banner__btn">
            <button type="submit" class="btn btn__primary w-100">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="section home home__triangle1">
  <div class="row home__triangle2 home--md">
    <div>
      <img class="home__image" src="../../assets/images/note.png" alt="Note" />
    </div>
    <h4>Registering on our network as a learner</h4>
    <h5>
      It automatically qualifies you to be a member of the Association of
      Caregivers, Nigeria. This is a group of people who have come together to
      advocate for Care providers and professional caregivers in Nigeria.
    </h5>
    <div class="btn--top">
      <a
        class="btn btn__primary mr-3"
        href="https://docs.google.com/forms/d/e/1FAIpQLScJEz8ocrsFHtTjPYNMcfNM4LW08mL6-bwQnTxtIy724S9JRQ/viewform?vc=0&c=0&w=1"
        target="_blank"
        >Register Here</a
      >
    </div>
    <div>
      <a
        class="btn btn__accent"
        href="http://tosconconsultancyservices.business.site"
        target="_blank"
        >Other Toscon Services</a
      >
    </div>
  </div>
</section>

<section class="section home home--flex row">
  <div class="col-xs-12 col-sm-6 col-xl-5 home__text--right">
    <img
      class="home__picture"
      src="../../assets/images/study-people.png"
      alt="Study"
      width="85%"
    />
  </div>
  <div class="hidden-xs col-sm-1 col-xl-2"></div>
  <div class="col-xs-12 col-sm-5 col-xl-5">
    <div class="home--sm pl-4">
      <div>
        <img
          class="home__image"
          src="../../assets/images/choose-from.svg"
          alt="Note"
        />
      </div>
      <h4>Choose from over 60 care courses</h4>
      <h5>
        Get International Certification. Our courses are according to UK
        standards and the Certificates you get can be used anywhere in the
        world. Our courses are available for as low as N30,000 each, you can get
        a discount if you buy more than three courses at the same time.
      </h5>
      <div>
        <a
          class="btn btn__primary w-100"
          href="https://docs.google.com/forms/d/e/1FAIpQLSfIr__fHNXcGQ79LoGtPyqMxLpu7q0YQ3siGVMUj1d67mxUTw/viewform?vc=0&c=0&w=1"
          target="_blank"
          >Register Here</a
        >
      </div>
    </div>
  </div>
</section>

<section class="section rings">
  <img src="../../assets/images/doughnut-rings.svg" width="100px" alt="rings" />
</section>

<section class="section home home--flex row home__study home--margin">
  <div class="col-xs-12 col-sm-6 home__text--left flex__order-1">
    <img
      class="home__picture"
      src="../../assets/images/study-group.png"
      alt="Study"
      width="85%"
    />
  </div>
  <div class="hidden-xs col-sm-1 col-xl-2"></div>
  <div class="col-xs-12 col-sm-5 col-xl-5 flex__order-2">
    <div class="home--sm pl-4">
      <div>
        <img
          class="home__image"
          src="../../assets/images/study.svg"
          alt="Note"
        />
      </div>
      <h4>Study at your own pace</h4>
      <h5>
        The time to finish each course is about 80mins but we all have different
        learning styles therefore it might take longer time, study at your own
        convenience and get certified whenever you finish each course.
      </h5>
    </div>
  </div>
</section>

<app-subscription></app-subscription>
